{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block desktopLinks %}
  <ul class="right hide-on-med-and-down">
      <li><a href="/">Register</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/home">Home</a></li>
  </ul>
{% endblock %}

{% block mobileLinks %}
  <ul class="sidenav" id="mobile-demo">
      <li><a href="/">Register</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/home">Home</a></li>
  </ul>
{% endblock %}

{% block pagetitle %}
    {{ title }}
{% endblock %}

{% block content %}
    <h5 style="text-align: center;">Error: {{error}}</h5>
{% endblock %}